{
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "quoteProps": 'consistent',
  "arrowParens": 'always',
  "trailingComma": 'all',
  "bracketSpacing": true,
  "endOfLine": 'auto',
  "htmlWhitespaceSensitivity": 'ignore'
}
